# Exclude files

src/argparse/*.o
src/dataflow/*.a
src/dataflow/*.o
src/domains/*.o
src/parser/*.o
src/parser/*.tab.*
src/parser/lex.yy.*

# The following Makefile will be generated during the configuration stage
src/parser/Makefile

binary
binary/*

src/*.o
src/*.dot
src/*.png
src/unrelyzer